.teacher_card {
    font-family: 'Poppins', sans-serif;
    margin-left: 68px;
    max-width: 950px;
    height: 230px;
    background-color: white;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 55px;

    .info_abt {
        margin-left: 250px;
    }
}

.am_teachers {
    color: #654321;
    margin-left: 60px;
    margin-top: 30px;
}

.filter_up {
    max-width: 800px;
    margin-top: 30px;
    margin-left: 150px;

    .confirm_btn {
        position: absolute;
        top: 165px;
        left: 850px;
    }


    .input_filt {
        margin-left: 120px;
    }


    .sort_dropdown {
        position: absolute;
        top: 165px;
        left: 527px;
    }
    .choose_sort_btn {
        border: 2px solid  #987654;
        border-radius: 10px;
        color: #987654;
        box-shadow:
    rgba(0, 0, 0, 0.15) 0 1px 2px,
        rgba(0, 0, 0, 0.15) 0 2px 4px,
        rgba(0, 0, 0, 0.15) 0 4px 8px,
        rgba(0, 0, 0, 0.15) 0 8px 16px,
        rgba(0, 0, 0, 0.15) 0 16px 32px,
        rgba(0, 0, 0, 0.15) 0 32px 64px;
        background: white;
        transition: background-color 0.2s ease, transform 0.2s ease;

        &:focus, &:active{
            color: white;
            background: #987654;
        }
    }
}


.more_inf {
    transform: translate(400%, -90%);
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.more_inf:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
}

.categ_filt {
    position: absolute;
    transform: translate(370%, -18%);
    max-width: 300px;
    .header {
        transform: translate(2%, 150%);
        font-size: 24px;
        color: #554321;
        max-width: 300px;

        }
        .filter_right {
            margin-right: 50px;
            margin-top: 60px;
            max-width: 250px;

        .jj {

            list-style-type: none;
            border-radius: 25px;
            margin-bottom: 10px;
            box-shadow:  21px 21px 41px #afafaf,
             -21px -21px 41px #ffffff;
            border: 2px solid  #987654;


            .category{
                color: #987654;
                font-size: 21px;
                padding: 10px 20px;
                width: 100%;

                &:hover, &:active, &:focus {
                    outline: none;
                    border: none;
                    padding: 10px 20px;
                }
            }
        }
    }
}

.display-text, .display-text-sort {
    font-family: 'Poppins', sans-serif;
    height: 20px;
    line-height: 20px;
    color: #987654;
    /*font-weight: bold;*/
    font-size: 18px;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 15px;
}





