.form_group {
    display: flow;
    margin-left: 60px;

    .password_container {
        margin-top: 30px;
        width: 80%;
        margin-bottom: 30px;
    }
    .email_input{
        width: 80%;
    }
}
.register_button {
    margin-top: -5px;
    margin-left: 55px;
    margin-bottom: 10px;
    width: 45%;
}

.form_container {
    width: 50%;
}

.registration_container {
    width: 60%;
}

.link {
    margin-left: 25px;
}

.register_button:hover ~ .decor_before, .register_button:hover ~ .decor_after {
    transition: 0.4s;
    background: #25cb41;
    border: 15px solid #46fc52;
}