{% extends "users/profile.html" %}
{% load static %}


<head>

</head>
<body>

{% block noinfo1 %}
    {% block noinfo2 %}
        {% block noinfo3 %}
            {% block noinfo4 %}
                {% block noinfo5 %}
                    {% block noinfo6 %}
                        {% block noinfo7 %}

                                <i>Information not provided</i>

                        {% endblock noinfo7 %}
                    {% endblock noinfo6 %}
                {% endblock noinfo5 %}
            {% endblock noinfo4 %}
        {% endblock noinfo3 %}
    {% endblock noinfo2 %}
{% endblock noinfo1 %}

{% block noinfo8 %}
    {% if profiles.contact_info %}
        <i>Information not provided</i>
    {% endif %}
{% endblock noinfo8 %}

{% block btn %}

{% endblock btn %}
</body>
