{% extends "main/base.html" %}
{% load static %}
{% load filters_profile %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static "css/profile.css" %}">
    </head>

    <body>
    <form class="profile-container" action="{% url 'users:change_profile' %}" method="post">
        {% csrf_token %}
        <div class="profile-header">
            <div class="profile-picture"></div>
            <div class="profile-info">


                    <h1>

                            <input
                                    name="first_name" id="id_first_name"
                                    class="add_info p-2" value="{{ form.first_name.value }}">
                            <input
                                    name="last_name" id="id_last_name"
                                    class="add_info p-2" value="{{ form.last_name.value }}">

                    </h1>

                    <h2>

                            {% for specialization in specializations %}
                                {% if specialization.id == form.main_specialty.value %}
                                    {{ specialization.name_spec }} Teacher
                                {% endif %}
                            {% endfor %}

                    </h2>
                    <input type="hidden" name="main_specialty" id="id_main_specialty" value="{{ form.main_specialty.value }}">

                    <div class="contact-info">
                        <div>
                            <strong class="header_prof">Age</strong>

                                <input class="add_info"
                                       value="{{ form.age.value }}"
                                       name="age" id="id_age"
                                       type="text" placeholder="Enter your age">

                        </div>

                        <div>
                            <strong class="header_prof">Experience</strong>


                                <input class="add_info"
                                       value="{{ form.experience.value }}"
                                       name="experience" id="id_experience"
                                       type="text" placeholder="Enter your experience">

                        </div>

                        <div>
                            <strong class="header_prof">Mode of Teaching</strong>

                            <input type="text" list="cityes"
                                       id="id_mode_teaching" name="mode_teaching"
                                       class="add_info"
                                       placeholder="Enter the type of teaching"
                                       value="{{ form.mode_teaching.value }}">

                                <datalist id="cityes">
                                    {% for type in modes %}
                                        <option value="{{ type.id }}">{{ type.name_mode }}</option>
                                    {% endfor %}
                                </datalist>
                        </div>

                        <div class="location_info">
                            <strong class="header_prof">Location</strong>

                                <input type="text" list="cityes"
                                       id="id_locations" name="locations"
                                       class="add_info"
                                       placeholder="Enter the location"
                                       value="{{ form.locations.value }}">

                                <datalist id="cityes">
                                    {% for loca in locations %}
                                        <option value="{{ loca.id }}">{{ loca.name }}</option>
                                    {% endfor %}
                                </datalist>

                        </div>
                            </div>
                        </div>
                    </div>

                    <div class="profile-content">
                    <div class="profile-details">
                        <h3>
                            <strong class="header_prof">Info about you</strong>
                        </h3>


                            <input class="fixed-textarea"
                                   id="id_info_about_teacher" name="info_about_teacher"
                                   value="{{ form.info_about_teacher.value }}"
                                   placeholder="Enter detailed information about you">


                        <h3>
                            <strong class="header_prof">Work Experience</strong>
                        </h3>


                            <input class="fixed-textarea"
                                   id="id_work_experience" name="work_experience"
                                   value="{{ form.work_experience.value }}"
                                   placeholder="Enter detailed information about you">


                        <h3>
                            <strong class="header_prof">Other specialization</strong>
                        </h3>


                            <input class="fixed-textarea"
                                   id="id_other_specialities" name="other_specialities"
                                   value="{{ form.other_specialities.value }}"
                                   placeholder="Enter detailed information about you">

                    </div>
                    <div class="contact-details">
                        <h3>
                            <strong class="header_prof">Contact Information</strong>
                        </h3>

                        <p><strong>Personal identifier:</strong> {{ form.username.value }}</p>
                        <input type="hidden" name="username" id="id_username" value="{{ form.username.value }}">

                                    <div>
                                        <input class="contact_input_info"
                                               id="id_email" name="email"
                                               value="{{ form.email.value }}"
                                               type="email"
                                               placeholder="Enter your email">
                                    </div>

                                    <div>
                                        <input class="contact_input_info"
                                               id="id_phone" name="phone"
                                               value="{{ form.phone.value }}"
                                               type="text"
                                               placeholder="Enter your phone number">
                                    </div>

                        <h3>
                            <strong class="header_prof">Education</strong>
                        </h3>


                            <input class="fixed-textarea"
                                   id="id_education" name="education"
                                   value="{{ form.education.value }}"
                                   placeholder="Enter detailed information about you">

                    </div>


                </div>
        {% block btn %}

                <button type="submit" class="btn btn-outline-success confirm_info">Confirm</button>

        {% endblock btn %}

        {% if form.errors %}
            <div class="form_errors">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </form>
    </body>
    <script src="{% static 'js/mentors.js' %}"></script>
{% endblock %}
