{% extends "main/base.html" %}
{% load static %}
{% load filters_profile %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static "css/profile.css" %}">
    </head>

    <body>
    <form class="profile-container" action="{% url 'users:change_profile' %}" method="post">
        {% csrf_token %}
        <div class="profile-header">
            <div class="profile-picture"></div>
            <div class="profile-info">


                    <h1>
                        {% block noinfo10 %}
                            <input
                                    name="first_name" id="id_first_name"
                                    class="add_info p-2" value="{{ form.first_name.value }}">
                            <input
                                    name="last_name" id="id_last_name"
                                    class="add_info p-2" value="{{ form.last_name.value }}">
                        {% endblock noinfo10 %}
                    </h1>

                    <h2>
                        {% block noinfo11 %}
                            {% for specialization in specializations %}
                                {% if specialization.id == form.main_specialty.value %}
                                    {{ specialization.name_spec }} Teacher
                                {% endif %}
                            {% endfor %}
                        {% endblock noinfo11 %}
                    </h2>
                    <input type="hidden" name="main_specialty" id="id_main_specialty" value="{{ form.main_specialty.value }}">

                    <div class="contact-info">
                        <div>
                            <strong class="header_prof">Age</strong>
                            {% block noinfo1 %}
                                <input class="add_info"
                                       value="{{ form.age.value }}"
                                       name="age" id="id_age"
                                       type="text" placeholder="Enter your age">
                            {% endblock noinfo1 %}
                        </div>

                        <div>
                            <strong class="header_prof">Experience</strong>

                            {% block noinfo2 %}
                                <input class="add_info"
                                       value="{{ form.experience.value }}"
                                       name="experience" id="id_experience"
                                       type="text" placeholder="Enter your experience">
                            {% endblock noinfo2 %}
                        </div>

                        <div>
                            <strong class="header_prof">Mode of Teaching</strong>

                            {% if info.mode_teaching %}
                                {{ info.mode_teaching }}
                            {% else %}
                                {% block noinfo3 %}
                                    <div class="dropdown d-inline-block me-2">
                                        <button class="btn btn-success dropdown-toggle choose_sort_btn" type="button"
                                                id="experienceDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                            Select type of studying
                                        </button>

                                        <ul class="dropdown-menu" aria-labelledby="experienceDropdown">
                                            {% for mode in modes %}
                                                <li><a class="dropdown-item" href="#"
                                                       onclick="updateDropdown('experienceDropdown', '{{ mode.name_mode }} studying')">{{ mode.name_mode }}
                                                    studying</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endblock noinfo3 %}
                            {% endif %}
                        </div>

                        <div class="location_info">
                            <strong class="header_prof">Location</strong>
                            {% block noinfo9 %}
                                <input type="text" list="cityes"
                                       id="id_locations" name="locations"
                                       class="add_info"
                                       placeholder="Enter the location"
                                       value="{{ form.locations.value }}">

                                <datalist id="cityes">
                                    {% for loca in locations %}
                                        <option value="{{ loca.id }}">{{ loca.name }}</option>
                                    {% endfor %}
                                </datalist>
                            {% endblock noinfo9 %}
                        </div>
                            </div>
                        </div>
                    </div>

                    <div class="profile-content">
                    <div class="profile-details">
                        <h3>
                            <strong class="header_prof">Info about you</strong>
                        </h3>

                        {% block noinfo4 %}
                            <input class="fixed-textarea"
                                   id="id_info_about_teacher" name="info_about_teacher"
                                   value="{{ form.info_about_teacher.value }}"
                                   placeholder="Enter detailed information about you">
                        {% endblock noinfo4 %}

                        <h3>
                            <strong class="header_prof">Work Experience</strong>
                        </h3>

                        {% block noinfo5 %}
                            <input class="fixed-textarea"
                                   id="id_work_experience" name="work_experience"
                                   value="{{ form.work_experience.value }}"
                                   placeholder="Enter detailed information about you">
                        {% endblock noinfo5 %}

                        <h3>
                            <strong class="header_prof">Other specialization</strong>
                        </h3>

                        {% block noinfo6 %}
                            <input class="fixed-textarea"
                                   id="id_other_specialities" name="other_specialities"
                                   value="{{ form.other_specialities.value }}"
                                   placeholder="Enter detailed information about you">
                        {% endblock noinfo6 %}
                    </div>
                    <div class="contact-details">
                        <h3>
                            <strong class="header_prof">Contact Information</strong>
                        </h3>

                        <p><strong>Personal identifier:</strong> {{ form.username.value }}</p>
                        <input type="hidden" name="username" id="id_username" value="{{ form.username.value }}">

                        {% for cont_info in list_contact %}
                            {% with value=info.contact_info|get_attr:cont_info %}
                                {% if value %}
                                    <p><strong>{{ cont_info|title }}:</strong> {{ value }}</p>
                                {% else %}
                                    {% block noinfo8 %}
                                        <input class="contact_input_info" type="text"
                                               placeholder="Enter your {{ cont_info }}">
                                    {% endblock noinfo8 %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}

                        <h3>
                            <strong class="header_prof">Education</strong>
                        </h3>

                        {% block noinfo7 %}
                            <input class="fixed-textarea"
                                   id="id_education" name="education"
                                   value="{{ form.education.value }}"
                                   placeholder="Enter detailed information about you">
                        {% endblock noinfo7 %}
                    </div>


                </div>
        {% block btn %}

                <button type="submit" class="btn btn-outline-success confirm_info">Confirm</button>

        {% endblock btn %}
        {% if form.errors %}
            <div class="form_errors">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </form>

    </body>
    <script src="{% static 'js/mentors.js' %}"></script>
{% endblock %}
