{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container registration_container">
    <div class="form_container">
        {% block login %}
        <h2>Sign up</h2>
        <form action="{% url 'users:registration' %}" method="POST" class="register_form">
            {% csrf_token %}
            <div class="form_group">
                <input type="text" id="id_first_name"
                       value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                       name="first_name"
                       placeholder="First Name" required>
                {% if form.first_name.errors %}{{ form.first_name.errors }}{% endif %}

                <input type="text" id="id_last_name"
                       value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                       name="last_name"
                       placeholder="Last Name" required>
                {% if form.last_name.errors %}{{ form.last_name.errors }}{% endif %}
            </div>

            <div class="form_group">
                <input type="text" id="id_username"
                       value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                       name="username" placeholder="Personal identifier" required>
                {% if form.username.errors %}{{ form.username.errors }}{% endif %}
                <div class="password_container">
                    <input class="password_input" type="password" id="id_password1"
                           value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                           name="password1" placeholder="Password" required>
                    <button type="button" class="toggle-password" data-target="#id_password1">
                        <span class="material-icons">visibility</span>
                    </button>
                </div>
                <input type="hidden" name="password2" id="id_password2"
                       value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}">
            </div>

            <div class="form_group">
                <input type="text" list="cityes" id="id_locations" name="locations" placeholder="Location" required>

                <datalist id="cityes">
                    {% for loca in locations %}
                    <option value="{{ loca.name }}" data-id="{{ loca.id }}"></option>
                    {% endfor %}
                </datalist>

                <input type="text" list="specialties" id="id_main_specialty" name="main_specialty"
                       placeholder="Specialization" required>
                <datalist id="specialties">
                    {% for spec in specializations %}
                    <option value="{{ spec.name_spec }}" data-id="{{ spec.id }}"></option>
                    {% endfor %}
                </datalist>
            </div>

            <button type="submit" class="register_button">Register</button>
            <div class="decor_before"></div>
            <div class="decor_after"></div>

            {% endblock login %}

            {% block link %}
            <p class="link">Already have an account ?
                <a href="{% url 'users:login' %}" class="span">Sign in</a>
            </p>
            {% endblock link %}
            {% if form.errors %}
            <div class="form_errors">
                <ul>
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/registration.js' %}"></script>
</body>
{% endblock %}
