{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static "css/about_us_stl.css" %}">
  <title>About Us</title>
</head>
<body>
  <div class="container info_abt">
    <h1 class="header_about_us">About Us</h1>
    <p class="info_text" >Welcome to Teacher Finder, your one-stop platform for finding the perfect teacher for your needs. Our mission is to connect educators with students and parents, making learning easier and more accessible for everyone.</p>
    <div class="about-us-section">
      <h2 class="header_about_us">Our Story</h2>
      <p class="info_text">Founded in 2020, Teacher Finder was created by a team of educators and developers who saw the need for a more efficient and effective way to find and connect with teachers. With our platform, we aim to bridge the gap between educators and learners, providing a seamless and user-friendly experience for all.</p>
    </div>
    <div class="about-us-section">
      <h2 class="header_about_us">Our Team</h2>
      <p class="info_text">Our team consists of experienced educators, developers, and designers who are passionate about education and technology. We work together to ensure that our platform is always improving and meeting the needs of our users.</p>
      <ul>
        <li>John Doe, CEO and Founder</li>
        <li>Jane Smith, CTO and Co-Founder</li>
        <li>Bob Johnson, Lead Developer</li>
        <li>Alice Brown, UI/UX Designer</li>
      </ul>
    </div>
    <div class="about-us-section">
      <h2 class="header_about_us">Our Values</h2>
      <p class="info_text">We believe in the power of education to transform lives and communities. Our values are centered around providing a platform that is accessible, equitable, and effective for all users.</p>
      <ul>
        <li>Accessibility: We believe that education should be accessible to everyone, regardless of location or background.</li>
        <li>Equity: We strive to provide a platform that is fair and equitable for all users, regardless of race, gender, or socioeconomic status.</li>
        <li>Effectiveness: We are committed to providing a platform that is effective in connecting educators with learners and providing high-quality educational resources.</li>
      </ul>
    </div>
  </div>
</body>
{% endblock %}