{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation Menu Example</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
    <div class="container navbar ">
          <!-- Button to open the modal -->
        <button id="toggleModal" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-label="Open global navigation menu" type="button" class="btn btn-secondary ml-5 modal_btn" data-toggle="modal" data-target="#navigationModal">
            <i class="bi bi-list" style="font-size: 1.1rem;"></i>
        </button>

        <div class="block_registtr">
        <button class="dropdown-toggle dropdown_registr" type="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <svg class="icon_registr" height="25" viewBox="0 0 15 15" width="25" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.915 13.481c-1.097-1.887-2.788-3.241-4.762-3.883a5.17 5.17 0 0 0 2.16-2.508
                    5.14 5.14 0 0 0 .188-3.297 5.162 5.162 0 0 0-1.857-2.737 5.204 5.204 0 0 0-6.288 0 5.161
                    5.161 0 0 0-1.857 2.737 5.14 5.14 0 0 0 .189 3.297 5.17 5.17 0 0 0 2.159 2.508c-1.974.641-3.665
                    1.995-4.762 3.883a.572.572 0 0 0 .42.87.579.579 0 0 0 .578-.296C2.44 11.72 4.839 10.327 7.5 10.327c2.66
                    0 5.06 1.393 6.417 3.728a.576.576 0 1 0 .998-.574ZM3.465 5.164c0-.794.237-1.57.68-2.23a4.03 4.03 0 0 1
                    1.811-1.48 4.053 4.053 0 0 1 4.397.871 3.997 3.997 0 0 1 .875 4.376A4.02 4.02 0 0 1 9.74 8.503a4.049 4.049
                    0 0 1-5.093-.5 4.01 4.01 0 0 1-1.183-2.839Z">
                </path>
            </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
            <li><a class="dropdown-item" href="{% url 'users:profile' %}">My profile</a></li>
            <li><a class="dropdown-item" href="{% url 'users:registration' %}">Create a new account</a></li>
            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Log in</a></li>
            <li><a class="dropdown-item" href="/">Log out</a></li>
        </ul>
        </div>

        <div class="app-name-outline pr-5">
            <a class="choose_btn" href="{% url 'main:main' %}"><span class="edu">Edu</span><span class="connect">Connect</span></a>
        </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="navigationModal" tabindex="-1" aria-labelledby="navigationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered slide-in">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-2 ml-2" id="navigationModalLabel">Navigation Menu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body scrollable-region ml-2">
        <div class="overlay-body">
          <div class="d-flex flex-column mb-3">
            <nav aria-label="Site navigation">
              <ul class="ap list-group mt-2">
                <li class="action-list-item list-group-item">
                    <a class='choose_btn'href="{% url 'main:main' %}" role="button">Home page</a>
                </li>
                <li class="action-list-item list-group-item">
                    <a class='choose_btn' href="{% url 'teachers:roster' %}">Teachers' page</a>
                </li>
                <li class="action-list-item list-group-item">
                <a class='choose_btn'href="{% url 'main:about' %}" role="button">About Us</a>
                </li>
                {% if user.teacher %}
                    <li class="action-list-item list-group-item">
                        <a>My account</a>
                    </li>
                {% endif %}
              </ul>
                <div class="container mt-4 instruct">
                    <small>
                        This is a navigation bar with which you can navigate to different parts of this software product, for example,
                        to view teachers - the page with many teachers, to get acquainted with this product - the main page, to learn about
                        the development team - the about us page.
                    </small>
                </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% block content %}

{% endblock %}



  <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>